* {background: black; color: white; padding: 10px;}
header, footer{
        margin:0vh 10vw;
        height: 10vh;
        display:flex;
        align-items: center;
        }

section{margin:0vh 10vw;
        padding:}
footer{border-top: solid 2px white;}
header{border-bottom: solid 2px white;}
